body {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: rgb(255, 255, 255);
  height: 100vh;
  background: linear-gradient(-4deg, #000000, #003a5b);
}
#wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: auto;
  padding: 20px 40px;
  height: 80vh;
  margin: auto;
  border: 2px solid;
  border-radius: 20px;
  font-family: sans-serif;
  box-shadow: 0px 0px 12px 2px blue;
  background: radial-gradient(#17174a, #000000);
  text-transform: capitalize;
}
#wrapper > h1 {
  color: tomato;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
#guess {
  font-size: 1.5rem;
  font-weight: 600;
}
.guessfield {
  color: #ffffff;
  background: transparent;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  /* margin: 10px 0; */
}
.guesssubmit {
  padding: 10px 20px;
  background-color: darkblue;
  color: azure;
  font-size: 1em;
  border-radius: 21px;
  /* border: 2px solid; */
  cursor: pointer;
  box-shadow: 1px 1px 6px 0px;
  margin-bottom: 15px;
}
.guesssubmit:hover {
  opacity: 0.73;
}
.lowOrHigh {
  text-align: center;
}
.resultpara {
  margin: 10px;
}
#newGame {
  background: darkblue;
  color: azure;
  border-radius: 21px;
  padding: 15px 20px;
  width: 50%;
  margin: auto;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 1px 1px 6px 0px;
  text-align: center;
}
